body {
  align-items: center;
  background: #333;
  display: grid;
  height: 100vh;
  justify-items: center;
}

.users {
  color: #fff;
}

.users__user {
  background: #222;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  display: grid;
  grid-template-columns: 1000px auto;
  margin: 1em;
}

.users__user:after {
  content: "";
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
  grid-column: span 2;
  height: 3px;
  position: relative;
  width: 100%;
}

.users__avatar {
  min-width: 150px;
}

.users__meta {
  margin-left: 1em;
  padding-right: 1em;
}

.users h1 {
  line-height: 0;
}